.back-groundd {
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  } 
  
  .gapes {
    gap: 25px;
  }
  
  .nav-item a {
    color: #1E520C !important;
  }
  
  .logoImg {
    height: auto;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    margin-right: 60px;
  }
  
  /* .mauto {
    margin: auto;
  } */

  @media (max-width : 459px) {
    .logoImg{
      padding-left: 0px !important;
      margin-right: 0px !important;
    }
    .navbaricon{
      gap: 3px !important;
    }
    
  }
  /* .newhim {
 

    z-index: 10;
    margin-bottom: 100px;
    position: relative;
  }
  
  footer {
  
  
    position: fixed;
    bottom: 0px;
    z-index: 0;
  } */
  
  @media (max-width: 991px) {
    .mauto {
      margin: 0px;
      display: none;
    }
    .div1{
      max-width: none !important;
   
    }
  }
    .mauto1{
      @media screen and (min-width: 991px) and (max-width:2000px) {
display: none;
      }

    }
    .div1{
      /* max-width: fit-content; */
      /* padding-right: 90px; */
    }
.navbaricon{
    gap: 20px;
    align-items: center;
}
  .offcanvas {
    width: 210px !important;
  }
  .ipo{
    width: 30px !important;
  }
  .nav-link {
    color: #000; /* Default text color */
    text-decoration: none; /* Remove underline from links */
  }
  
  /* Active nav link styles */
  .nav-link.active {
    color: #28a745; /* Green color */
    border-bottom: 2px solid #28a745; /* Green underline */
  }
  @media(max-width: 768px){
    .back-groundd {
      position: relative;}
      .mainallaresame {
        position: relative;
        top: 0px;
  }}





