
  .footer a {
    color: #C9F9E2 !important;
   text-decoration: none;
  }
  .footer h5 {
    color: #C9F9E2 !important;
    
  }
  .footer img {
    max-width: 150px;
    margin-bottom: 10px;
  }
  .footer address {
    font-style: normal;
    line-height: 1.6;
  }
  .footer .text-center {
    border-top: 1px solid #F1E3B2; /* Same light yellowish color */
    padding-top: 10px;
    margin-top: 10px;
  }
  .list-unstyled{
    line-height: 32px;
  }



/* Footer.css */
.footer {

    bottom: 0;
    position: sticky;
    bottom: 0px;
    z-index: -3;
  width: 100%;
  /* z-index: 10; */
  /* padding: 20px 0; */
  color: #C9F9E2 !important;
/* Dark green color */
}
/* .ctns{
  background-color: #306D51; 
} */
.footer a {
  color: #C9F9E2 !important;
 text-decoration: none;
}
.footer h5 {
  color: #C9F9E2 !important;
  
}
.footer img {
  max-width: 150px;
  margin-bottom: 10px;
}
.footer address {
  font-style: normal;
  line-height: 1.6;
}
.footer .text-center {
  border-top: 1px solid #F1E3B2; /* Same light yellowish color */
  padding-top: 10px;
  margin-top: 10px;
}
.list-unstyled{
  line-height: 32px;
}

@media(max-width: 768px){
  .list-unstyled{
    line-height: 25px;
  }
  .ctns{
    margin-top: 0px !important;
  }
  .ctnss{
    padding-top: 16px;
  }
  .ctnss{
    /* height: 100vh; */
    /* background-color: #306D51 !important;  */
  }
  .ctns{
    max-width: 100% !important;
  }

}
.ctnss{
  padding-top: 16px;
  background-color: #306D51;
}