.modify {
    background-color: transparent !important;
    background-image: url('../Container/Images/Rectangletop.png');
    width: 100%;
   background-position: center;
    height: 50vh;
    background-size: cover;
    border: 0 px none !important;
    border-radius: 0px;
    position: relative;
    top: 0px;
}
.message{
  font-weight: 700;
}
.edit {
    gap: 20px;
}
.headshop {
    text-align: center;
}
.category-map{
    display: flex;
}
.et {
    background-color: #C9F9E2;

}
.three1 {
    height: 250px;
}
.pww:active{
    box-shadow: 8px 9px 6px 1px #00000096;
 transition: all 150ms ease-out;
 background-color: green;

}
.shopcard{
    flex-direction: column;
    border: 1px solid #1e520c ;
    background-color: white;
    color: #1e520c;
    max-width: 100%;
}

@media(max-width: 768px){
    .category-map{
        display: block;
    }
}